<body>

<%= render "common/header" %>

    <div class="content">
        <div class="layout">
            <div class="main">
                <div class="m-section">
                    <div class="section-heading">
                        <div class="breadcrumb"><i class="icon icon-home"></i><a href="index">首页</a> &gt; <span>高端party</span></div>
                        <h2 class="section-title"><i class="icon icon-balloon"></i>高端party</h2>
                    </div>
                    <div class="section-content">
                        <ul class="m-it-list mt15">

                          <% @parties.each do |party| %>

                            <li>
                                <h3 class="name"><%= party.title %></h3>
                                <div class="info">
                                    <div class="thumbnail"><%= image_tag(party.images[0].c2.url, alt: "") %></div>
                                    <p class="intro"><%= party.excerpt %>...</p>
                                    <%= link_to "查看详情", party_path(party), :class => "btn btn-primary btn-look" %>
                                </div>
                            </li>

                          <% end %>

                        </ul>
                        <%= paginate @parties %>
                    </div>
                </div>
            </div>

<%= render "common/side" %>

        </div>
    </div>

<%= render "common/footer" %>

</body>
</html>
