<body>

<%= render "common/header" %>

    <div class="content">
        <div class="layout">
            <div class="main">
                <div class="m-section">
                    <div class="section-heading">
                        <div class="breadcrumb"><i class="icon icon-home"></i><a href="index">首页</a> &gt; <span>特色旅游</span></div>
                        <h2 class="section-title"><i class="icon icon-travel"></i>特色旅游</h2>
                    </div>
                    <div class="section-content">
                        <ul class="travel-list">

                          <% @travels.each do |travel| %>

                            <li>
                                <img src="/img/travel_p1.jpg" alt="" class="thumbnail">
                                <h3 class="name"><%= travel.title %></h3>
                                <p><i class="icon icon-loc"></i>出发地点：<%= travel.departure %></p>
                                <p><i class="icon icon-clock"></i>出发日期：04月05日，04月10日，04月15日，04月20日，04月25日，04月30日</p>
                                <p class="price">¥<em><%= travel.price %></em></p>
                                <%= link_to "查看详情", travel_path(travel), :class => "btn btn-primary btn-look" %>
                                <img src="/img/travel_rec.png" alt="" class="rec">
                            </li>

                        <% end %>

                        </ul>
                        <%= paginate @travels %>
                    </div>
                </div>
            </div>

<%= render "common/side" %>

        </div>
    </div>

<%= render "common/footer" %>

</body>
</html>
