<body>

<%= render "common/header" %>

    <div class="content">
        <div class="layout">
            <div class="main">
                <div class="m-section">
                    <div class="section-heading">
                        <div class="breadcrumb"><i class="icon icon-home"></i><a href="index">首页</a> &gt; <span>特色旅游</span></div>
                        <h2 class="section-title"><i class="icon icon-travel"></i>特色旅游</h2>
                    </div>
                    <div class="section-content">
                        <div class="travel-details">
                            <h3 class="travel-title"><%= @travel.title %></h3>
                            <div class="travel-overview">
                                <div class="travel-picture">
                                    <img src="/img/travel_p11.jpg" alt="" class="picture">
                                    <img src="/img/travel_rec.png" alt="" class="rec">
                                </div>
                                <div class="travel-itinerary">
                                    <span class="itinerary-date">2017年05月</span>
                                    <h4>出行日期</h4>
                                    <div class="travel-calendar">
                                        <div class="calendar-week">
                                            <span>日</span>
                                            <span>一</span>
                                            <span>二</span>
                                            <span>三</span>
                                            <span>四</span>
                                            <span>五</span>
                                            <span>六</span>
                                        </div>
                                        <div class="calendar-day">
                                            <span class="outside">30</span>
                                            <span>1</span>
                                            <span>2</span>
                                            <span>3</span>
                                            <span>4</span>
                                            <span class="arranged">5</span>
                                            <span>6</span>
                                            <span>7</span>
                                            <span>8</span>
                                            <span>9</span>
                                            <span class="arranged">10</span>
                                            <span>11</span>
                                            <span>12</span>
                                            <span>13</span>
                                            <span>14</span>
                                            <span class="arranged">15</span>
                                            <span>16</span>
                                            <span>17</span>
                                            <span>18</span>
                                            <span>19</span>
                                            <span class="arranged">20</span>
                                            <span>21</span>
                                            <span>22</span>
                                            <span>23</span>
                                            <span>24</span>
                                            <span class="arranged">25</span>
                                            <span>26</span>
                                            <span>27</span>
                                            <span>28</span>
                                            <span>29</span>
                                            <span class="arranged">30</span>
                                            <span>31</span>
                                            <span class="outside">1</span>
                                            <span class="outside">2</span>
                                            <span class="outside">3</span>
                                        </div>
                                    </div>
                                    <div class="itinerary-info">
                                        <p>合计费用：<span class="price">¥<em><%= @travel.price %></em></span></p>
                                        <p>出发地点：<%= @travel.departure %></p>
                                    </div>
                                    <a href="javascript:;" class="btn btn-primary btn-book"><i class="icon icon-headset"></i>联系客服预定</a>
                                </div>
                            </div>
                            <div class="travel-content">
                                <div class="travel-tabbar" id="travel-tabbar">
                                    <a href="#travel-part-1" class="part-link active"><span>行程介绍</span></a>
                                    <a href="#travel-part-2" class="part-link"><span>预定须知</span></a>
                                    <a href="#travel-part-3" class="part-link"><span>签证说明</span></a>
                                </div>
                                <div class="travel-tabcont">
                                    <div class="travel-part" id="travel-part-1">
                                        <h4>行程介绍</h4>
                                        <div class="travel-line">
                                            <i class="icon icon-square"></i>旅游线路：<span class="flight-line"> <%= @travel.departure %> <i class="icon icon-aircraft"></i> <%= @travel.destination %> </span>
                                        </div>
                                        <div class="travel-reference">
                                            <i class="icon icon-square"></i>参考行程：
                                        </div>
                                        <div class="travel-arrangement">
                                            <ul class="arrangement-days">
                                                <li class="active">第一天</li>
                                                <li>第二天</li>
                                                <li>第三天</li>
                                                <li>第四天</li>
                                            </ul>
                                            <ul class="arrangement-list">
                                                <li>
                                                    <span class="no">Day 1</span>
                                                    <h5>第一天</h5>
                                                    <p class="line"><i class="icon icon-loc"></i>广州→普吉</p>
                                                    <p>广州—普吉—国际人妖秀</p>
                                                    <p>(参考航班：DD3125 广州-普吉 12：55北京时间-1455泰国时间)</p>
                                                    <p>餐食：[晚餐]梨园餐厅或西蒙餐厅</p>
                                                    <p>住宿：普吉岛当地五星酒店</p>
                                                    <p>请于指定时间在广州机场国际出发厅集中，我们将搭乘包机直飞号称“泰南明珠”的世界级度假胜地普吉岛（飞行时间约3小时）。抵达普吉后先体验当地的风情，前往【普吉人妖歌剧院】『90m』观赏泰国著名的Aphrodite人妖歌舞表演，让您感受永生难忘雌雄难辨的精彩刺激！后送酒店休息。</p>
                                                    <div class="life">
                                                        <p>早餐：敬请自理 午餐：敬请自理 晚餐：包含</p>
                                                        <p>住宿：普吉岛</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="no">Day 2</span>
                                                    <h5>第二天</h5>
                                                    <p class="line"><i class="icon icon-loc"></i>普吉</p>
                                                    <p>day02攀牙湾—007岛—割喉泛舟—协议行程—四面佛</p>
                                                    <p>餐食：[早餐]酒店内 [午餐]回教村水上餐厅 [晚餐]泰式BBQ烧烤</p>
                                                    <p>住宿：普吉岛艾斯凯普酒店或不低于此标准酒店</p>
                                                    <p>早餐后乘车前往有小桂林之称的[攀牙湾]『包括乘坐长尾船时间约1.5H』，岛上是奇异迷人的石群和矗立海中的断崖岛屿所组成的，一路乘游船沿海观赏由石灰岩所组成的大小岛屿，洞顶垂吊向下的钟乳石。午餐于水上人家享用海鲜餐,之后登上闻名世界的美国电影“007金枪客”片立的“占士帮007岛”『登岛游览时间不低于20m』，亦为攀牙湾之最特别安排客人参加【泛舟之旅】『不低于30m』，前往参观美丽而灿烂的钻石洞及滴成冰淇淋形状之钟乳石，不禁令人赞叹造物者之神奇，奇岩怪石、嶙嶙峋峋的围绕在您周围，九弯十八拐地循序造访，仿佛置身于瑶池仙境中。乘船返回码头『不低于60m』。</p>
                                                    <div class="life">
                                                        <p>早餐：包含 午餐：包含 晚餐：包含</p>
                                                        <p>住宿：圣塔拉格兰德西沙别墅度假村或不低于此标准酒店</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="no">Day 3</span>
                                                    <h5>第三天</h5>
                                                    <p class="line"><i class="icon icon-loc"></i>普吉</p>
                                                    <p>Day03协议行程—珊瑚岛</p>
                                                    <p>餐食：[早餐]酒店内 [午餐]当地特色餐 [晚餐]海鲜火锅晚餐</p>
                                                    <p>住宿：普吉岛当地五星酒店</p>
                                                    <p>早餐后，参照协议行程安排，中餐后乘坐快艇前往【珊瑚岛】（游玩约3小时），在印度洋蓝色海水的环绕之中，慵懒的白色沙滩反射着阳光，散发迷人的光晕。从透明渐变到深蓝的海水，蕴藏着无尽的传说和故事。这是一个只属于休闲假日的岛屿，沙滩上的一行渐行渐远足迹，书写着舒适的心情。天际线里七彩的遮阳伞，翻动着夏日的多彩。沙滩上来回奔跑的海浪，搔动你的脚丫，邀请你投入大海的怀抱。四周的海水里聚集了大量的热带鱼，只要你下到海中，他们就围拢上来环绕在你的周围，轻轻叮咬你的手臂或身体，给你来次水下按摩。除此之外，水下美丽的珊瑚礁也在等待你的探索。</p>
                                                    <div class="life">
                                                        <p>早餐：包含 午餐：包含 晚餐：包含</p>
                                                        <p>住宿：圣塔拉格兰德西沙别墅度假村或不低于此标准酒店</p>
                                                    </div>
                                                </li>
                                                <li class="last">
                                                    <span class="no">Day 4</span>
                                                    <h5>第四天</h5>
                                                    <p class="line"><i class="icon icon-loc"></i>普吉→广州</p>
                                                    <p>Day05普吉—广州 参考航班：DD 08:00-11：00</p>
                                                    <p>餐食：[早餐]打包</p>
                                                    <p>早上在导游的带领下前往普吉机场办理乘机手续返回广州，结束此次旅行，回到温暖的家。</p>
                                                    <p>特别注明：鉴于最近年纪稍大的游客在出海时频频出现意外，针对普吉岛团队的游客现做如下通知：</p>
                                                    <p>1、60周岁到69周岁的客人不宜乘快艇过海岛，坚持要过海岛的客人必须签免责协议书；</p>
                                                    <p>2、70周岁及70周岁以上的老人，船家不提供快艇过海岛，只能安排坐大船去海岛（有些海岛无大船前往，只能自愿放弃，不退任何费用）。</p>
                                                    <p>3、团队行程中有人要离团，收取离团风险金150美金/人。</p>
                                                    <div class="life">
                                                        <p>早餐：包含 午餐：敬请自理 晚餐：敬请自理</p>
                                                        <p>住宿：温馨的家</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="travel-part" id="travel-part-2">
                                        <h4>预定须知</h4>
                                        <p><%= @travel.notice %></p>
                                      </div>
                                    <div class="travel-part" id="travel-part-3">
                                        <h4>签证说明</h4>
                                        <p><%= @travel.instruction %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<%= render "common/side" %>

        </div>
    </div>

<%= render "common/footer" %>

</body>
</html>
