<body>

<%= render "common/header" %>

    <div class="content">
        <div class="layout">
            <div class="main">
                <div class="m-section">
                    <div class="section-heading">
                        <div class="breadcrumb"><i class="icon icon-home"></i><%= link_to "首页", root_path %> &gt; <span>特色旅游</span></div>
                        <h2 class="section-title"><i class="icon icon-travel"></i>特色旅游</h2>
                    </div>
                    <div class="section-content">
                        <div class="travel-details">
                            <h3 class="travel-title"><%= @travel.title %></h3>
                            <div class="travel-overview">
                                <div class="travel-picture">
                                    <%= image_tag(@travel.images[0].t2.url, alt: "", class: "picture") %>
                                    <% if @travel.recommend %>
                                      <img src="/img/travel_rec.png" alt="" class="rec">
                                    <% end %>
                                </div>
                                <div class="travel-itinerary">
                                    <div class="itinerary-info">
                                        <p>出发时间：<%= @travel.date %></p>
                                        <p>出发地点：<%= @travel.departure %></p>
                                        <p>目的地点：<%= @travel.destination %></p>
                                        <p>合计费用：<span class="price">¥<em><%= @travel.price %></em></span></p>
                                    </div>
                                    <a href="javascript:;" class="btn btn-primary btn-book"><i class="icon icon-headset"></i>联系客服预定</a>
                                </div>
                            </div>
                            <div class="travel-content">
                                <div class="travel-tabbar" id="travel-tabbar">
                                    <a href="#travel-part-1" class="part-link"><span>行程介绍</span></a>
                                    <a href="#travel-part-2" class="part-link"><span>预定须知</span></a>
                                    <a href="#travel-part-3" class="part-link"><span>签证说明</span></a>
                                </div>
                                <div class="travel-tabcont">
                                    <div class="travel-part" id="travel-part-1">
                                        <h4>行程介绍</h4>
                                        <div class="travel-line">
                                            <i class="icon icon-square"></i>旅游线路：<span class="flight-line"> <%= @travel.departure %> <i class="icon icon-aircraft"></i> <%= @travel.destination %> </span>
                                        </div>
                                        <div class="travel-reference">
                                            <i class="icon icon-square"></i>参考行程：
                                        </div>
                                            <p><%= @travel.introduction %></p>
                                    </div>
                                    <div class="travel-part" id="travel-part-2">
                                        <h4>预定须知</h4>
                                        <p><%= @travel.notice %></p>
                                      </div>
                                    <div class="travel-part" id="travel-part-3">
                                        <h4>签证说明</h4>
                                        <p><%= @travel.instruction %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<%= render "common/side" %>

        </div>
    </div>

<%= render "common/footer" %>

</body>
</html>
