<body>

<%= render "common/header" %>

    <div class="banner">
        <div class="focus-slide" id="focus-slide">
            <ul class="banner-list">
                <li style="background-image:url(/img/focus_banner.jpg);"></li>
                <li style="background-image:url(/img/focus_banner.jpg);"></li>
                <li style="background-image:url(/img/focus_banner.jpg);"></li>
                <li style="background-image:url(/img/focus_banner.jpg);"></li>
                <li style="background-image:url(/img/focus_banner.jpg);"></li>
            </ul>
        </div>
    </div>
    <div class="weather">
        <div class="layout">
            <dl>
                <dt>
                    <i class="icon icon-weather"></i>泰国主要城市天气<span class="time"><%= Time.now %></span>
                </dt>
                <dd>
                    <span class="city"><iframe width="225" scrolling="no" height="50" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=8&color=%23FFFFFF&bdc=%23&icon=1&py=bangkok&num=1&nid=130&wid=1300016&site=12"></iframe></span>
                    <span class="city"><iframe width="225" scrolling="no" height="50" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=8&color=%23FFFFFF&bdc=%23&icon=1&py=phuket&num=1&nid=130&wid=1430016&site=12"></iframe></span>
                    <span class="city"><iframe width="225" scrolling="no" height="50" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=8&color=%23FFFFFF&bdc=%23&icon=1&py=ko-samui&num=1&nid=130&wid=1300030&site=12"></iframe></span>
                </dd>
            </dl>
        </div>
    </div>
    <div class="content">
        <div class="layout">
            <div class="main">
                <div class="m-section">
                    <div class="section-heading">
                        <a href="travels" class="section-more">查看全部特色旅游</a>
                        <h2 class="section-title"><i class="icon icon-travel"></i>特色旅游</h2>
                    </div>
                    <div class="section-content">
                        <ul class="travel-rec">

                          <% @travels.each do |travel| %>
                            <li>
                                <%= link_to travel_path(travel) do %>
                                    <img src="/img/rec_p1.jpg" alt="" class="thumbnail">
                                    <h3 class="name"><%= travel.title %></h3>
                                    <p>
                                        <span class="city"><%= travel.departure %>出发</span>
                                        <span class="price"><%= travel.price %> 起</span>
                                    </p>
                                <% end %>
                            </li>
                          <% end %>

                        </ul>
                    </div>
                </div>
                <div class="index-rec">
                    <div class="s-section heading-striped rec-sec">
                        <div class="section-heading">
                            <h2 class="section-title"><img src="/img/thailand_show.png" alt="" class="en"><i class="icon icon-performance"></i>泰国表演</h2>
                        </div>
                        <div class="section-content">
                            <div class="m-itl">
                                <div class="image-text">
                                  <% if @show1 != nil %>
                                    <%= link_to show_path(@show1) do %>
                                      <img src="/img/performance_p111.jpg" alt=""><span class="text"><%= @show1.title %></span>
                                    <% end %>
                                  <% end %>
                                </div>
                                <ul class="m-list">

                                  <% @shows.each do |show| %>
                                    <li>
                                      <%= link_to show_path(show) do %>
                                        <i class="icon icon-square"></i><%= show.title %>
                                      <% end %>
                                    </li>
                                  <% end %>

                                </ul>
                                <a href="shows" class="look-more"><i class="icon icon-q"></i>查看更多内容...</a>
                            </div>
                        </div>
                    </div>
                    <div class="s-section heading-striped rec-sec">
                        <div class="section-heading">
                            <h2 class="section-title"><img src="/img/food_shopping.png" alt="" class="en"><i class="icon icon-shopping"></i>美食购物</h2>
                        </div>
                        <div class="section-content">
                            <div class="m-itl">
                                <div class="image-text">
                                  <% if @food1 != nil %>
                                    <%= link_to food_path(@food1) do %>
                                      <img src="/img/shopping_p111.jpg" alt=""><span class="text"><%= @food1.title %></span>
                                    <% end %>
                                  <% end %>
                                </div>
                                <ul class="m-list">

                                  <% @foods.each do |food| %>
                                    <li>
                                      <%= link_to food_path(food) do %>
                                        <i class="icon icon-square"></i><%= food.title %>
                                      <% end %>
                                    </li>
                                  <% end %>

                                </ul>
                                <a href="foods" class="look-more"><i class="icon icon-q"></i>查看更多内容...</a>
                            </div>
                        </div>
                    </div>
                    <div class="s-section heading-striped rec-sec">
                        <div class="section-heading">
                            <h2 class="section-title"><img src="/img/wonderful_activity.png" alt="" class="en"><i class="icon icon-activity"></i>精彩活动</h2>
                        </div>
                        <div class="section-content">
                            <div class="m-itl">
                                <div class="image-text">
                                  <% if @activity1 != nil %>
                                    <%= link_to activity_path(@activity1) do %>
                                      <img src="/img/activity_p111.jpg" alt=""><span class="text"><%= @activity1.title %></span>
                                    <% end %>
                                  <% end %>
                                </div>
                                <ul class="m-list">

                                  <% @activities.each do |activity| %>
                                  <li>
                                    <%= link_to activity_path(activity) do %>
                                      <i class="icon icon-square"></i><%= activity.title %>
                                    <% end %>
                                  </li>
                                  <% end %>

                                </ul>
                                <a href="activities" class="look-more"><i class="icon icon-q"></i>查看更多内容...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<%= render "common/side" %>

        </div>
    </div>

<%= render "common/footer" %>

</body>
</html>
