<body>

<%= render "common/header" %>

    <div class="content">
        <div class="layout">
            <div class="main">
                <div class="m-section">
                    <div class="section-heading">
                        <div class="breadcrumb"><i class="icon icon-home"></i><a href="index">首页</a> &gt; <span>美食购物</span></div>
                        <h2 class="section-title"><i class="icon icon-shopping"></i>美食购物</h2>
                    </div>
                    <div class="section-content">
                        <div class="m-article">
                            <h3 class="article-title"><%= @food.title %></h3>
                            <div class="article-other">
                                <div class="pull-right article-operation">
                                    <a href="javascript:;" class="article-fav"><i class="icon icon-fav"></i>收藏</a>
                                    <a href="javascript:;" class="article-share"><i class="icon icon-share"></i>分享</a>
                                </div>
                                <div class="pull-left article-info">
                                    <span class="article-date"><i class="icon icon-pen"></i><%= @food.created_at %></span>
                                    <span class="article-view"><i class="icon icon-view"></i>3672</span>
                                </div>
                            </div>
                            <div class="article-content">
                                <p><img src="/img/shopping_p11.jpg" alt=""></p>
                                <p><img src="/img/shopping_p22.jpg" alt=""></p>
                                <p><%= @food.text %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<%= render "common/side" %>

        </div>
    </div>

<%= render "common/footer" %>

</body>
</html>
