<body>

<%= render "common/header" %>

    <div class="content">
        <div class="layout">
            <div class="main">
                <div class="m-section">
                    <div class="section-heading">
                        <div class="breadcrumb"><i class="icon icon-home"></i><a href="index">首页</a> &gt; <span>精彩活动</span></div>
                        <h2 class="section-title"><i class="icon icon-activity"></i>精彩活动</h2>
                    </div>
                    <div class="section-content">
                        <ul class="m-it-list mt15">

                          <% @activities.each do |activity| %>

                            <li>
                                <h3 class="name"><%= activity.title %></h3>
                                <div class="info">
                                    <div class="thumbnail"><img src="/img/activity_p1.jpg" alt=""></div>
                                    <p class="intro"><%= activity.excerpt %>...</p>
                                    <%= link_to "查看详情", activity_path(activity), :class => "btn btn-primary btn-look" %>
                                </div>
                            </li>

                            <% end %>

                        </ul>
                        <div class="pagination">
                            <div class="pull-right">
                                <a href="#" class="first">首页</a>
                                <a href="#" class="prev">上一页</a>
                                <a href="#" class="active">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#" class="next">下一页</a>
                                <a href="#" class="last">末页</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<%= render "common/side" %>

        </div>
    </div>

<%= render "common/footer" %>

</body>
</html>
