<div class="footer">
    <div class="footer-top">
        <div class="layout">
            <ul class="service-advantage">
                <li>
                    <i class="icon icon-price"></i>
                    <h4>价格保障</h4>
                    <p>真实价格，所有行程完全透明</p>
                </li>
                <li>
                    <i class="icon icon-service"></i>
                    <h4>服务保障</h4>
                    <p>专属客服，随时随地轻松出行</p>
                </li>
                <li>
                    <i class="icon icon-product"></i>
                    <h4>产品丰富</h4>
                    <p>海量线路，一站式预定说走就走</p>
                </li>
                <li>
                    <i class="icon icon-brand"></i>
                    <h4>品牌信赖</h4>
                    <p>泰国旅游知名品牌，服务保障</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="layout">
            <div class="slogan"><img src="/img/slogan.png" alt=""></div>
            <div class="bottom-nav">
                <%= link_to "特色旅游", travels_path %>/<%= link_to "高端party", parties_path %>/<%= link_to "泰国表演", shows_path %>/
                <%= link_to "美食购物", foods_path %>/<%= link_to "精彩活动", activities_path %>/<%= link_to "关于我们", about_path %>/
                <%= link_to "联系我们", messages_path %>
            </div>
            <div class="copyright">Copyright©2017 泰国旅游网 版权所有 All Rights Reserved.</div>
        </div>
    </div>
</div>
</div>
<div class="online-consultation">
<img src="/img/consultant.png" alt="" class="consultant">
<a href="javascript:;" class="btn link"><i class="icon icon-hi"></i>在线咨询</a>
<a href="javascript:;" class="btn link"><i class="icon icon-phone"></i>电话咨询</a>
<a href="javascript:;" class="btn go-top" id="go-top"><i class="icon icon-top"></i>TOP</a>
</div>
